@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  background-color: #f2f2f2;
  vertical-align: middle;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing:border-box;
}

img {
  width: 100%;
  padding: 0.5em 0.75em;
  display:block;
}

h1 {
  font-size: 100%/1.5rem;
  box-sizing: border-box;
  margin: 0;
  text-align: left;
  
}

.sec-1 {
  text-align: left;
  padding: 0.75em;
}

h2 {
  margin: 0;
  border: 3px solid #595652;
  display: inline-block;
  max-width: 8em;
  padding: .6em .1em;
  line-height: 1rem;
  border-color: #000;
  border-radius: 5px;
  font-weight: 400;
}

.sec-2 a {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: #000;
  padding: 0.75em;

}

div {
  padding:0.5em;
}

.sec-2 h2:hover {
  background-color: #333;
}

.sec-2 a:hover {
  color: #f2f2f2;
}
